* {
margin: 0;
padding: 0;
}

html{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
	background-color:#242424;
	font-family:arial;
}

body{
	height:100%;
	margin:0 auto;
	padding:0;
	width:980px;
}

@font-face
{
    font-family: myFirstFont;
    src: url("digital.ttf");
}


span#countdownie {
    overflow: hidden;
    width: 100% !important;
    display: block;
    margin-top: 50px;
}

.clock {
    font-family: myFirstFont;
    color: #00ff00;
    font-size: 50px;
    text-shadow: 0px 0px 0 #0F0, 2px 2px 0 #0F0, 3px 3px 0 #444, 4px 4px 0 #0F0, 3px 3px 0 #fff;
    height: 85px;
    text-align: center;
}


#container{
	width:100%;
	min-height:800px;
	background: url('../images/background.jpg') no-repeat;
	background-size: 100%;
	background-position: 0 80px;
    margin-top: -50px;
}
.img{
	-webkit-transform:scale(0.6);
	-moz-transform:scale(0.6);
	-o-transform:scale(0.6);
	float:left;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	}
.img img{
		padding:10px;
		border:1px solid #fff;
		width: 300px;
		height: 300px;
}
.img:hover{
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
	-moz-transform:scale(0.8);
	-moz-box-shadow:0px 0px 30px #ccc;	
	-o-transform:scale(0.8);
	-o-box-shadow:0px 0px 30px #ccc;	
}	 
.img .mask{
	width: 100%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	height: 100%; 
	opacity:0.6;
	cursor:pointer;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration:0.5s;
}
#img-1:hover .mask{
	height:0%;	
}
#img-2:hover .mask{
	height:0%;	
	margin-top:130px;
}
#img-4:hover .mask{
	margin-left:219px;
	margin-top:135px;
	height:0%;
	width:0%;
}
#img-3 #mask-1 {
	width:50%;
}
#img-3 #mask-2{
	width:50%;
	margin-left: 161px;
}
#img-3:hover #mask-1{
	width:0%;
}
#img-3:hover #mask-2{
	margin-left:320px;
	width:0%;
}
#img-5:hover .mask{
	margin-left:219px;
	margin-top:135px;
	height:0%;
	width:0%;
	-webkit-transform: rotateX(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(-360deg);
}
#img-6:hover .mask{
	margin-left:219px;
	margin-top:135px;
	height:0%;
	width:0%;
	-webkit-transform: rotateZ(750deg);
	-moz-transform: rotateZ(750deg);
	-o-transform: rotat(750deg);
}


div#warning {
    text-shadow: 1px 1px 6px #000000;
    color: #00FF1F !important;
    font-weight: bold;
    font-size: 19px;
    font-family: monospace;
}

.clearfix{
	clear:both;
	float:none;
}
