<div id="nav-bar">
    <div class="nav-logo hidden-sm" ng-class="classMenu">
        <img src="../images/logo.png" alt="logo">
        <nav>
            <a class="active"><i class="glyphicon glyphicon-home"></i></a>
            <a><i class="glyphicon glyphicon-envelope"></i>
                <span class="badge bounceIn">2</span>
            </a>
        </nav>
    </div>
    <div class="nav-content" ng-class="classMenuContent">
        <div class="pull-left">
            <i class="fa fa-bars menu-icon-togge" ng-click="menuOpen()"></i>
            <i class="fa fa-repeat icon-refest"></i>
            <span class="h-seperate"></span>
            <span class="dropdown">
                <a href="" ><i class="fa fa-th-large icon-menu-nav dropdown-toggle" data-toggle="dropdown"></i></a>
                <ul class="dropdown-menu setting-menu animate-setting-menu">
                    <li>
                        <a>
                            <i class="fa fa-envelope-o"></i>
                            <p>Mail Box</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-credit-card"></i>
                            <p>Mail Box</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-folder-open-o"></i>
                            <p>Mail Box</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-music"></i>
                            <p>Mail Box</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-suitcase"></i>
                            <p>Mail Box</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-caret-square-o-right"></i>
                            <p>Mail Box</p>
                        </a>
                    </li>


                </ul>
            </span>
            <div class="search-form-nav ">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search Dashbroad">
            </div>
        </div>
        <div class="pull-right" style="margin-top: 14px;
margin-right: 15px;">
            <div class="btn-group username hidden-xs">
                <div data-toggle="dropdown">
                    <span class="badge badge-important">3</span> Kim Ji <strong>Won</strong>
                     <span class="caret"></span>
                </div>
                <ul class="dropdown-menu animate notifive">
                    <h5>bạn có 3 tin nhắn mới</h5>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="../images/Kim-Ji-Won-the-heirs-2.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Thinh NV đã gửi bạn 1 thư</h4>
                                <p>1 phút trước</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Thinh NV đã gửi bạn 1 thư</h4>
                                <p>1 phút trước</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="../images/Kim-Ji-Won-the-heirs-2.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Thinh NV đã gửi bạn 1 thư</h4>
                                <p>1 phút trước</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <img src="../images/Kim_Ji_Won_(1992)33.png" alt="" class="avatar-img hidden-xs	">
            <span class="dropdown">
                <a href="" ><i class="fa fa-cog setting-nav dropdown-toggle" data-toggle="dropdown"></i></a>
                <ul class="dropdown-menu animated-setting-nav">
                    <li><a href=""> My Account</a> </li>
                    <li><a href="">My Calendar</a> </li>
                    <li><a href=""> My Inbox&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a> </li>
                    <li class="divider"></li>
                    <li><a href=""><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                </ul>
            </span>
            <i class="g-seperate"></i>
            <span style="position: relative">
                <i class="fa fa-users menu-user"></i>
                <span class="badge badge-important" style="position: absolute;top: -7px;right: 0;border-radius: 50%;font-size: 11px;">3</span>
            </span>
        </div>
    </div>
</div>
<div id="page-container">
    <div class="bg-sidebar"></div>
    <div id="side-bar-left" ng-class="classMenu" class="side-bar-left-responsive">
        <div class="user-info-wrapper hidden-sm">
            <div class="profile-wrapper">
                <img src="../images/Kim-Ji-Won-the-heirs-2.png" alt="" width="69" height="69">
            </div>
            <div class="user-info">
                <div class="greeting">Welcome</div>
                <div class="username">John <span class="semi-bold">Smith</span></div>
                <div class="status">Status<a href="#">
                    <i class="fa fa-circle-o"></i>
                    Online</a></div>
            </div>
        </div>
        <p class="menu-title hidden-sm">BROWSE <span class="pull-right"><a><i class="fa fa-refresh"></i></a></span></p>
        <div class="list-link-side-bar-left">

            <ul class="list-unstyled">
                <li class="dropdown active">
                    <a  data-toggle="dropdown"><i class="fa fa-home"></i> <span>Dashboard</span> <i class="fa fa-angle-left"></i></a>
                    <ul class="dropdown-menu sub-menu list-unstyled" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a ui-sref="main.dashboard1"> <span>Dashboard v1 </span></a>
                        </li>
                        <li class="active">
                            <a> <span>Dashboard v2</span> </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div id="content" ng-class="classContent" class="content-responsive">
        <div class="clearfix"></div>
        <div class="page-content">
            <div  ui-view ng-animate="'ui-view'" ></div>
        </div>
    </div>
</div>
