<header>
  <nav class="navbar navbar-default fixed-top" role="navigation">
    <div class="navbar-header">
      <div class="navbar-brand">
        <div id="tw-4" class="tw-outside">
          <div class="tw-text"><span class="fa fa-twitter"></span></div>
          <div class="tw-click">
            <a href="https://twitter.com/sevilayha" class="twitter-follow-button" data-show-count="false">Follow @sevilayha</a>
          </div>
        </div>
      </div>
      <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    </div>

  </nav>
</header>
