<header>
  <nav class="navbar navbar-default fixed-top" role="navigation">
    <div class="navbar-header">
      <div class="navbar-brand">
        <div id="tw-4" class="tw-outside">
          <div class="tw-text"><img class="mail-icon" src="../images/gmail.png" alt="gmail icon" /></div>
          <div class="tw-click">
            <a href="https://twitter.com/sevilayha" class="twitter-follow-button" data-show-count="false">Send mail to me</a>
          </div>
        </div>
      </div>
      <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    </div>

  </nav>
</header>
