<aside class="sidebar">
  <div class="my-info">
    <img src="/images/cj.jpg" alt="Chris" class="portfolio-image">
    <h1>Chris</h1>
    <h2 style="line-height: 1.6em;">Beginer Nodejs, AngularJs <br> Work at Vsoft Solution in HaNoi, VN</h2>
    <div id="social-group">
      <a href="https://twitter.com/Mrzero158" id="s_twitter"><span class="fa fa-twitter"></span></a>
      <a href="https://www.facebook.com/nduy.ngaxx?fref=ts" id="s_facebook"><span class="fa fa-facebook"></span></a>
      <a href="https://plus.google.com/+NgaNguyenDuyictu/about" id="s_plus"><span class="fa fa-google-plus"></span></a>
    </div>
  </div>
  <nav class="menus">
    <h3 class="work">Work</h3>
    <ul>
      <li><a href="#" class="current-menu-item">Latest</a></li>
      <li><a href="#">Web Design</a></li>
      <li><a href="#">Branding</a></li>
      <li><a href="#">Photography</a></li>
      <li><a href="#">Print</a></li>
      <li><a href="#">Mobile Design</a></li>
    </ul>

    <h3 class="about">About</h3>
    <ul>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">Blog</a></li>
    </ul>

    <h3 class="contact">Contact</h3>
    <ul>
      <li><a href="#addr">Address</a></li>
      <li><a href="#Phone">Phone</a></li>
      <li><a href="//facebook.com">Social Networks</a></li>
      <li><a href="#Mail">Email</a></li>
    </ul>
  </nav>
</aside>
