.last_updated{font-family:"Advent Pro",Helvetica,Arial,sans-serif;float:right;color:#bbb;border-radius:3px 3px 3px 3px;text-decoration:none;padding:3px 6px;margin:2px}
.highlight{margin:1em 0;padding:10px 0;width:100%;overflow:auto}
.section-nav{text-align:center;padding-top:40px;position:relative;background:url(../img/article-footer.png) top center no-repeat;margin:30px -20px 10px}
.section-nav > div{width:49.5%}
.section-nav a{color:#fff;font-size:16px;text-transform:uppercase;font-weight:700;padding:8px 12px 10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5);box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5);background-color:#767676}
.section-nav a:hover{color:#fff;background-color:#888}
.section-nav .next,.section-nav .prev{position:relative}
.section-nav .next:after,.section-nav .prev:before{font-size:36px;color:#222;font-weight:900;text-shadow:0 1px 0 rgba(255, 255, 255, 0.4);position:absolute;top:5px}
.section-nav .next:after{content:'\203A';right:10px}
.section-nav .prev:before{content:'\2039';left:10px}
.section-nav .prev,.section-nav .prev:hover{padding-left:30px}
.section-nav .next,.section-nav .next:hover{padding-right:30px}
.section-nav .disabled{opacity:.5;cursor:default}
.left{float:left}
.right{float:right}
.align-right{text-align:right}
.align-left{text-align:left}
.note_quote{border-left-color:#08c !important;background-color:lightblue;padding:0 0 0 15px;border-left:5px solid #eee;}
.warn_quote{border-left-color:#f89406 !important;background-color:#fbb450;padding:0 0 0 15px;border-left:5px solid #eee;}
blockquote p{font-size:13px;font-weight:400;color:black;padding-top:15px}
li{line-height: 25px;}
