<div class="dash-board">
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="green">
            <div class="tiles-body">
                <div class="controller">
                    <a class="reload"><i class="fa fa-repeat"></i></a>
                    <a class="remove"><i class="fa fa-times"></i></a>
                </div>
                <div class="tiles-title text-black">OVERALL SALES</div>
                <div class="widget-stats">
                    <div class="wrapper transparent">
                        <span class="item-title">Overall Visits</span> <span
                            class="item-count animate-number semi-bold" data-value="2415"
                            data-animation-duration="700">2,415</span>
                    </div>
                </div>
                <div class="widget-stats">
                    <div class="wrapper transparent">
                        <span class="item-title">Today's</span> <span class="item-count animate-number semi-bold"
                                                                      data-value="751"
                                                                      data-animation-duration="700">751</span>
                    </div>
                </div>
                <div class="widget-stats ">
                    <div class="wrapper last">
                        <span class="item-title">Monthly</span> <span class="item-count animate-number semi-bold"
                                                                      data-value="1547"
                                                                      data-animation-duration="700">1,547</span>
                    </div>
                </div>
                <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%"
                         style="width: 64.8%;"></div>
                </div>
                <div class="description"><span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blue">
            <div class="tiles-body">
                <div class="controller">
                    <a class="reload"><i class="fa fa-repeat"></i></a>
                    <a class="remove"><i class="fa fa-times"></i></a>
                </div>
                <div class="tiles-title text-black">OVERALL VISITS</div>
                <div class="widget-stats">
                    <div class="wrapper transparent">
                        <span class="item-title">Overall Visits</span> <span
                            class="item-count animate-number semi-bold" data-value="2415"
                            data-animation-duration="700">15,489</span>
                    </div>
                </div>
                <div class="widget-stats">
                    <div class="wrapper transparent">
                        <span class="item-title">Today's</span> <span class="item-count animate-number semi-bold"
                                                                      data-value="751"
                                                                      data-animation-duration="700">546</span>
                    </div>
                </div>
                <div class="widget-stats ">
                    <div class="wrapper last">
                        <span class="item-title">Monthly</span> <span class="item-count animate-number semi-bold"
                                                                      data-value="1547"
                                                                      data-animation-duration="700">1,678</span>
                    </div>
                </div>
                <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%"
                         style="width: 64.8%;"></div>
                </div>
                <div class="description"><span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="purple">
            <div class="tiles-body">
                <div class="controller">
                    <a class="reload"><i class="fa fa-repeat"></i></a>
                    <a class="remove"><i class="fa fa-times"></i></a>
                </div>
                <div class="tiles-title text-black">SERVER LOAD</div>
                <div class="widget-stats">
                    <div class="wrapper transparent">
                        <span class="item-title">Overall Load</span> <span
                            class="item-count animate-number semi-bold" data-value="2415"
                            data-animation-duration="700">5,695</span>
                    </div>
                </div>
                <div class="widget-stats">
                    <div class="wrapper transparent">
                        <span class="item-title">Today's</span> <span class="item-count animate-number semi-bold"
                                                                      data-value="751"
                                                                      data-animation-duration="700">254</span>
                    </div>
                </div>
                <div class="widget-stats ">
                    <div class="wrapper last">
                        <span class="item-title">Monthly</span> <span class="item-count animate-number semi-bold"
                                                                      data-value="1547"
                                                                      data-animation-duration="700">4,364</span>
                    </div>
                </div>
                <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%"
                         style="width: 64.8%;"></div>
                </div>
                <div class="description"><span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 visible-sm">
        <div class="red">
            <div class="tiles-body">
                <div class="controller">
                    <a class="reload"><i class="fa fa-repeat"></i></a>
                    <a class="remove"><i class="fa fa-times"></i></a>
                </div>
                <div class="tiles-title text-black">SERVER LOAD</div>
                <div class="widget-stats">
                    <div class="wrapper transparent">
                        <span class="item-title">Overall Load</span> <span
                            class="item-count animate-number semi-bold" data-value="2415"
                            data-animation-duration="700">5,695</span>
                    </div>
                </div>
                <div class="widget-stats">
                    <div class="wrapper transparent">
                        <span class="item-title">Today's</span> <span class="item-count animate-number semi-bold"
                                                                      data-value="751"
                                                                      data-animation-duration="700">254</span>
                    </div>
                </div>
                <div class="widget-stats ">
                    <div class="wrapper last">
                        <span class="item-title">Monthly</span> <span class="item-count animate-number semi-bold"
                                                                      data-value="1547"
                                                                      data-animation-duration="700">4,364</span>
                    </div>
                </div>
                <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%"
                         style="width: 64.8%;"></div>
                </div>
                <div class="description"><span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-7">
        <div class="box">
            <div class="title-col">
                <h4><span class="glyphicon glyphicon-th"></span> Vector Map</h4>
            </div>
            <div id="chartVector" style="width: 100%; height: 323px;"></div>
        </div>
    </div>
    <div class="col-md-5 dotted">
        <div class="dotted-map">
            <div id="img-content">
                <img src="../../images/dotted.jpg" alt=""/>

            </div>
        </div>
        <div class="controls">
            <a rel="france" class="" ng-click="scaleMap()">France</a>
            <a rel="russia" class="">Russia</a>
            <a rel="argentina" class="">Argentina</a>
            <a rel="australia" class="active">Australia</a>
            <a rel="usa" class="">USA</a>
        </div>
    </div>

</div>
<div class="box">
    <div class="title-col">
        <h4><span class="glyphicon glyphicon-th-list"></span> Table</h4>
    </div>
    <div class="content-col">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Project</th>
                <th>Status</th>
                <th>Manager</th>
                <th>Progress</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><span class="color-success"><i class="fa fa-level-up"></i></span> TWLT</td>
                <td><span class="label label-info">Pending</span></td>
                <td>Amery Lee</td>
                <td>
                    <div class="progressbar-xs no-margin progress ng-isolate-scope" value="55">
                        <div class="progress-bar" style="width: 55%;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td><span class="color-success"><i class="fa fa-level-up"></i></span> A16Z</td>
                <td><span class="label label-primary">Due</span></td>
                <td>Romayne Carlyn</td>
                <td>
                    <div class="progressbar-xs no-margin progress ng-isolate-scope" value="34" type="success">
                        <div class="progress-bar progress-bar-success" style="width: 34%;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td><span class="color-warning"><i class="fa fa-level-down"></i></span> DARK</td>
                <td><span class="label label-success">Due</span></td>
                <td>Marybeth Joanna</td>
                <td>
                    <div class="progressbar-xs no-margin progress ng-isolate-scope" value="68" type="info">
                        <div class="progress-bar progress-bar-info" style="width: 68%;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td><span class="color-info"><i class="fa fa-level-up"></i></span> Q300</td>
                <td><span class="label label-danger">Blocked</span></td>
                <td>Jonah Benny</td>
                <td>
                    <div class="progressbar-xs no-margin progress ng-isolate-scope" value="52" type="warning">
                        <div class="progress-bar progress-bar-warning" style="width: 52%;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td><span class="color-danger"><i class="fa fa-level-down"></i></span> RVNG</td>
                <td><span class="label label-warning">Suspended</span></td>
                <td>Daly Royle</td>
                <td>
                    <div class="progressbar-xs no-margin progress ng-isolate-scope" value="77" type="danger">
                        <div class="progress-bar progress-bar-danger" style="width: 77%;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td><span class="color-info"><i class="fa fa-level-down"></i></span> FDSA</td>
                <td><span class="label label-info">Suspended</span></td>
                <td>Jane Swift</td>
                <td>
                    <div class="progressbar-xs no-margin progress ng-isolate-scope" value="55" type="success">
                        <div class="progress-bar progress-bar-success" style="width: 55%;"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="box box-one">
            <div class="title-col green">
                <div class="controller">
                    <a class="reload"><i class="fa fa-repeat"></i></a>
                    <a class="remove"><i class="fa fa-times"></i></a>
                </div>
                <h3>
                    WebArch <span class="semi-bold">UI Bundle highly customizable UI elements</span>
                </h3>

                <div class="overlayer">
                    <span class="pull-right"><a class="hashtags transparent"> #Art Design </a></span>
                </div>
            </div>
            <div class="content-col green ">
                <div class="tiles-body">
                    <div class="user-comment-wrapper pull-left">
                        <div class="profile-wrapper"><img src="../../images/yeoman.png" alt="" width="35" height="35">
                        </div>
                        <div class="comment">
                            <div class="user-name text-black bold"> David <span class="semi-bold">Cooper</span></div>
                            <div class="preview-wrapper">@ revox</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="pull-right m-r-20"><span class="bold text-black small-text">24m</span></div>
                    <div class="clearfix"></div>
                    <div class="p-l-15 p-t-10 p-r-20">
                        <p>The attention to detail and the end product is stellar! I enjoyed the process </p>

                        <div class="post p-t-10 p-b-10">
                            <ul class="action-bar no-margin p-b-20 ">
                                <li><a href="#" class="muted bold"><i class="fa fa-comment  m-r-10"></i>1584</a></li>
                                <li><a href="#" class="text-error bold"><i class="fa fa-heart  m-r-10"></i>47k</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>