/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .menu-on {
    width: 100%;
    -webkit-transform: translate3d(-250px, 0, 0);
    -moz-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
  .clear-on {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  #nav-bar .menu-icon-togge {
    display: none !important;
  }
  .bg-sidebar {
    width: 50px;
    height: 100%;
    background: #0aa699;
    position: fixed;
  }
  .side-bar-left-responsive {
    min-width: 50px !important;
    background: none !important;
    z-index: 1;
  }
  .side-bar-left-responsive .list-link-side-bar-left > ul > li.active a {
    background: #0b9c8f;
  }
  .side-bar-left-responsive .list-link-side-bar-left > ul > li:active a {
    background: #0b9c8f;
  }
  .side-bar-left-responsive .list-link-side-bar-left > ul > li > a {
    padding: 0 !important;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff !important;
  }
  .side-bar-left-responsive .list-link-side-bar-left > ul > li > a:hover {
    background: #0b9c8f;
  }
  .side-bar-left-responsive .list-link-side-bar-left > ul > li > a:hover i {
    color: #fff !important;
  }
  .side-bar-left-responsive .list-link-side-bar-left > ul > li > a span {
    display: none;
  }
  .side-bar-left-responsive .list-link-side-bar-left > ul > li > a i:last-child {
    display: none;
  }
  .side-bar-left-responsive .list-link-side-bar-left > ul > li .sub-menu {
    position: absolute !important;
    top: 0;
    left: 50px;
  }
  .content-responsive {
    margin-left: 50px !important;
  }
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .menu-off {
    width: 100%;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  .open-menu {
    display: none !important;
  }
  .close-menu {
    display: block !important;
  }
  .bg-sidebar {
    width: 0;
    height: 0;
    background: none;
    position: static;
  }
  #nav-bar .nav-content .menu-icon-togge {
    display: block !important;
  }
  #nav-bar .nav-content .icon-refest {
    display: none;
  }
  #nav-bar .nav-content .h-seperate {
    display: none;
  }
  #nav-bar .nav-content .icon-menu-nav {
    display: none;
  }
  #nav-bar .nav-content .search-form-nav {
    display: none;
  }
  .side-bar-left-responsive {
    background-color: #1b1e24 !important;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul {
    margin-top: 20px !important;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li.active a {
    background: none;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li.open .sub-menu {
    -webkit-animation: sidebarFirst 0.5s;
    animation: sidebarFirst 0.5s;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li a {
    text-decoration: none !important;
    padding: 11.5px 31px 11.5px 31px !important;
    display: block !important;
    color: #8b91a0 !important;
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 0;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li a:hover {
    background: none;
    color: #fff;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li a span {
    display: inline-block;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li a i {
    font-size: 19px !important;
    margin-right: 5px !important;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li a i:last-child {
    float: right !important;
    font-size: 15px !important;
    color: #919091 !important;
    line-height: 20px !important;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li .sub-menu {
    margin: 0 !important;
    background-color: #22262E !important;
    padding: 8px 0px 10px 0px !important;
    position: relative !important;
    width: 100% !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    top: 0;
    left: 0;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li .sub-menu li {
    margin: 0px !important;
    padding: 0px !important;
    margin-top: 1px !important;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li .sub-menu li.active a {
    font-size: 14px !important;
    color: #fff !important;
    background: none;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li .sub-menu li a {
    text-decoration: none !important;
    padding: 5px 0 !important;
    padding-left: 53px !important;
    color: #e1eaf1 !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    display: block !important;
    background: none !important;
    line-height: 20px !important;
  }
  .side-bar-left-responsive .list-link-side-bar-left ul li .sub-menu li a:hover {
    background: #1b1e24 !important;
    color: fff !important;
  }
  #content {
    width: 100%;
  }
  .clear-on {
    margin-left: 0 !important;
  }
  .clear-off {
    margin-left: 250px !important;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .menu-off {
    width: 100% !Important;
  }
}
